{% extends 'base.html.twig' %}

{%	block title 'Ma Super Agence %}

{% block body %}
	<div class="jombotro text-center">

		<div class="container"></div>
		<h1>ma super agence</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis rem sapiente consequatur. Distinctio velit perspiciatis voluptates debitis alias dolorum rem maxime eum eligendi neque, dolor reprehenderit saepe animi voluptas quia?</p>
	</div>

{% endblock %}
